* {
    padding: 0;
    margin: 0;
}

.hide {
    display: none;
}

.car, .enemy {
position: absolute;
bottom: 100px;
margin: auto;
width: 50px;
height: 100px;
background-color: lightblue;
background-image: url(car2.png);
background-size: cover;
}

.line {
    position: absolute;
    height: 100px;
    width: 10px;
    margin-left: 205px;
    background-color: white;
}

.score {
    background-color: darkgrey;
    height: 60;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: fantasy;
}

.gameArea {
    background-color: black;
    width: 400px;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.startScreen{
    position: absolute;
    background-color: red;
    left: 37%;
    top: 100px;
    color: white;
    font-weight: 600;
    text-align: center;
    border: 2px double grey;
    padding: 15px;
    margin: auto;
    width: 24%;
    font-family: monospace;
    z-index: 1;
}